*{
	margin: 0;
	padding: 0;
}
*, *:before, *:after{
	box-sizing: border-box;
}
body {
	line-height: 1;
	font-family: Tahoma, Verdana, sans-serif;
	height:100%;
	display: flex;
	flex-direction: column;
}
.name{
	text-align: center;
	z-index:3;
}
header {
	width: 100%;
	min-height: 80px;
	background-color: gray;
	color: white;
	background-size: cover;
}
header:before{
	content:"";
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:13%;
	background-color:#5e5373;
	z-index:3;
}
.header-body{
	position: relative;
	display: flex;
	justify-content: space-between;
	height: 120px;
	align-items: center;
}
.header-list{
	display: flex;
	z-index: 3;
	position:relative;
}
.header-list li{
	list-style: none;
	margin: 0px 0px 0px 20px;
}
.header-link{
	color:white;
	text-transform: uppercase;
	font-size: 18px;
	text-decoration: none;
}
.logo{
	width:120px;
	z-index:4;
	position:relative;
}
.logo img{
	max-width: 100%;
	display: block;
}
.burger{
	display:none;
}
.main {
	padding: 10%;
	font-size: 30px;
}
@media (max-width:400px){
	.header-body{
		height:100px;
	}
	.logo{
		width:120px;
	}
	.burger{
    display: block;
	position:relative;
	width: 50px;
    height: 50px;
    flex-shrink: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
	border-radius: 50%;
	z-index:5;
	}
	.burger span{
		position:absolute;
		background-color:#ffffff;
		width: 70%;
		height:2px;
		left:7px;
		top:23px;
		transition: all 0.3s ease 0s;
	}
	.burger:before,
	.burger:after{
		content:'';
		background-color:#ffffff;
		position: absolute;
		width:70%;
		height:2px;
		left:7px;
		transition: all 0.3s ease 0s;
	}
	.burger:before{
		top: 14px;
	}
	.burger:after{
		bottom: 12px;
	}
	.burger.active span{
		transform: scale(0);
	}
	.burger.active:before{
		transform:rotate(45deg);
		top: 23px;
	}
	.burger.active:after{
		transform:rotate(-45deg);
		top: 23px;
	}
    .header-menu{
		position:fixed;
		top: 100%;
		left:0;
		width:100%;
		height:100%;
		overflow:auto;
		transition: all 0.3s ease 0s;
		background-color: #18b5a4;
		padding: 140px 10px 20px 10px;
	}
	.header-menu.active{
		z-index: 2;
		top:0;
	}
    .header-list{
		display:block;
	}
	.header-list li{
		margin: 0px 0px 20px 0px
	}
	.header-link{
		font-size: 24px;
	}
}
footer {
	z-index:3;
	background: #252856;
	color: #ffffff;
	padding: 20px;
	position: absolute;
	bottom: 0;
	left: 0px;
	width: 100%;
	height:80px;
}
.footer-email{
	text-decoration: none;
	color: white;
}
footer p{
	text-align: right;
}
